
/* Box-Sizing */
*, *:after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, canvas {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cabin', 'Open-Sans', sans-serif;
    color: #474747;
	font-weight: normal;
}

.main {
	position: relative;
}

.chart-container {
	position: relative;
}

.canvas {
	position: relative;
	top: 0;
	left: 0;
}

.graph .background {
	fill: none;
	stroke: none;
}

.graph .area {
	fill: #474747;
	stroke: none;
	fill-opacity: 1;
}

.graph .line {
	fill: none;
	stroke: #474747;
	stroke-width: 2px;
	stroke-opacity: 90%;
}

.graph .column {
	fill: #474747;
	stroke: #fff;
	stroke-width: 2px;
	stroke-opacity: 90%;
}

.graph .axis path {
	fill: none;
}

.graph .y.axis path {
	stroke: none;
}

.graph .x.axis path {
	stroke: #aaa;
	stroke-width: 1px;
}

.graph .axis line {
	stroke: #aaa;
	stroke-width: 1px;
}





